{{ template "email" . }}

{{ define "content" }}
  <p>Hello {{.FirstName}},</p>

  <p>We just wanted to let you know that the password for your PsionicAlch account has been successfully updated.</p>

  <p>If you made this change, there's nothing more you need to do. Your account is all set!</p>

  <p>However, if you didn't update your password, please secure your account immediately by resetting your password here:</p>

  <p><a href="https://www.psionicalch.com/reset-password" class="cta-button">Reset Your Password</a></p>

  <p>If you need assistance or have any concerns, don't hesitate to reach out to us:</p>
  <p>
    <a href="https://twitter.com/psionicalch">Twitter</a> |
    <a href="mailto:contact@psionicalch.com">Email</a>
  </p>

  <p>Your account's security is our priority, and we're here to help if needed.</p>

  <p>Happy learning,<br>The PsionicAlch Team</p>
{{ end }}
