{{ template "email" . }}

{{ define "content" }}
  <p>Hello {{.FirstName}},</p>

  <p>We received a request to reset the password for your PsionicAlch account. If you made this request, you can reset your password by clicking the link below:</p>

  <p><a href="https://www.psionicalch.com/accounts/reset-password/{{.EmailToken}}" class="cta-button">Reset Your Password</a></p>

  <p>This link is valid for only 30 minutes. If it expires, you'll need to request another password reset.</p>

  <p>If you didn't request a password reset, no worries — your account is safe! You can simply ignore this email.</p>

  <p>If you have any questions or run into any issues, feel free to reach out to us:</p>
  <p>
    <a href="https://twitter.com/psionicalch">Twitter</a> |
    <a href="mailto:contact@psionicalch.com">Email</a>
  </p>

  <p>We're here to ensure your learning journey with PsionicAlch is secure and uninterrupted.</p>

  <p>Happy coding,<br>The PsionicAlch Team</p>
{{ end }}
