{{ template "email" . }}

{{ define "content" }}
  <p>Hello {{.FirstName}},</p>

  <p>We've detected access to your PsionicAlch account from an IP address that's not part of your profile's IP address whitelist. Here are the details:</p>

  <p><strong>Details:</strong></p>
  <ul>
    <li><strong>IP Address:</strong> {{.IPAddress}}</li>
    <li><strong>Date & Time:</strong> {{.LoginDateTime | pretty_date}}</li>
  </ul>

  <p>If you recognize this activity then you can add your current IP address to your profile's whitelist so that you won't get notified about this again:</p>

  <p><a href="https://www.psionicalch.com/profile/whitelist/{{.URLSafeIPAddress}}" class="cta-button">Whitelist IP Address</a></p>

  <p>However, if this login seems suspicious or unfamiliar, we strongly recommend securing your account immediately by resetting your password:</p>

  <p><a href="https://www.psionicalch.com/accounts/reset-password" class="cta-button">Reset Your Password</a></p>

  <p>If you need assistance or have concerns about your account's security, please don't hesitate to reach out to us:</p>
  <p>
    <a href="https://twitter.com/psionicalch">Twitter</a> |
    <a href="mailto:contact@psionicalch.com">Email</a>
  </p>

  <p>Your account's security is our top priority, and we're here to help if needed.</p>

  <p>Stay safe and keep coding,<br>The PsionicAlch Team</p>
{{ end }}
