{{ define "base" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap">

    {{ block "meta-tags" .UserData }}
    {{ end }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <link rel="stylesheet" href="{{ assets "/css/variables.css" }}">
    <link rel="stylesheet" href="{{ assets "/css/reset.css" }}">
    <link rel="stylesheet" href="{{ assets "/css/styles.css" }}">
    <link rel="stylesheet" href="{{ assets "/css/navbar.css" }}">

    {{ block "stylesheets" .UserData }}
    {{ end }}

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous" defer></script>

    {{ block "head-scripts" .UserData }}
    {{ end }}

    {{ block "title" . }}
      <title>Build Real-World Golang Applications - Practical Courses for Intermediate Developers</title>
    {{ end }}
  </head>
  <body
    x-data="{ menuOpen: false }"
    x-bind:class="{ 'noscroll': menuOpen }"
  >
    {{ template "noscript" }}

    {{ template "navbar" .UserData.Navbar }}

    {{ block "body" .UserData }}
      <h1>Default Body</h1>
    {{ end }}

    {{ template "footer" .UserData }}

    <script src="{{ assets "/js/script.js" }}"></script>

    {{ template "notyf" . }}

    {{ block "javascript" .UserData }}
    {{ end }}

    <script>
      document.addEventListener('htmx:configRequest', function(event) {
        event.detail.headers['X-CSRF-Token'] = '{{- .UserData.CSRFToken -}}';
      });
    </script>
  </body>
  </html>
{{ end }}
