{{ template "base" . }}

{{ define "head" }}
  <link rel="stylesheet" href="/assets/css/auth.css">

  {{ template "spiral" "gray" }}

  <title>Reset Password - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <header class="header">
    {{ template "navbar" }}

    <section class="auth-section">
      <h1>Reset Password</h1>

      <form method="post" class="auth-form" spellcheck="false">
        {{ template "email-field" }}

        <button type="submit" class="gradient-btn">Reset Password</button>
      </form>
    </section>
  </header>
{{ end }}
