{{ template "base" . }}

{{ define "head" }}
  <link rel="stylesheet" href="/assets/css/tutorials.css">

  {{ template "spiral" "white" }}

  <title>Tutorials - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  {{ template "header" .HeaderComponentData }}

  <section id="tutorials" class="bg-dark">
    <div class="container">
      <div class="course-grid">
        {{ range .AllTutorials }}
          {{ template "tutorial-card" . }}
        {{ else }}
          <p>There aren't currently any tutorials here...</p>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
