<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>PsionicAlch Tutorials</title>
    <link>https://www.psionicalch.com/tutorials</link>
    <description>Explore all tutorials from PsionicAlch, focused on practical Golang projects.</description>
    <language>en-us</language>
    <lastBuildDate>{{ format_time_to_rfc_822 .LastBuildTime }}</lastBuildDate>
    <atom:link href="https://www.psionicalch.com/rss/tutorials" rel="self" type="application/rss+xml" />
    <image>
      <!-- TODO: Replace with actual image -->
      <url>https://www.psionicalch.com/assets/img/logo.png</url>
      <title>PsionicAlch Tutorials</title>
      <link>https://www.psionicalch.com/tutorials</link>
    </image>

    {{ range .Tutorials }}
    <item>
      <title>{{- .Title -}}</title>
      <link>https://www.psionicalch.com/tutorials/{{- .Slug -}}</link>
      <description>{{- .Description -}}</description>
      <pubDate>{{- format_time_to_rfc_822 .CreatedAt -}}</pubDate>
      {{ with index $.Authors .ID }}
      <dc:creator>{{ .Name }} {{ .Surname }}</dc:creator>
      {{ end }}
      <category>Tutorial</category>
      <guid>https://www.psionicalch.com/tutorials/{{- .Slug -}}</guid>
    </item>
    {{ end }}
  </channel>
</rss>
