{{ define "change-first-name-form" }}
  <form hx-post="/settings/change-first-name">
    {{ template "form-control" .FirstNameInput }}

    <button type="submit" class="btn btn-blue shadow-sm">Change First Name</button>
  </form>
{{ end }}
