{{ define "change-last-name-form" }}
  <form hx-post="/settings/change-last-name">
    {{ template "form-control" .LastNameInput }}

    <button type="submit" class="btn btn-blue shadow-sm">Change Last Name</button>
  </form>
{{ end }}
