{{ define "comments-list" }}
  {{ if .Comments }}
    {{ range .Comments }}
      <div class="comment shadow-sm-hover">
        <div class="comment-header">
          <p><b>{{- .User.Name -}} {{- .User.Surname -}}</b></p>
    
          <p><small>{{- .TimeAgo -}}</small></p>
        </div>
    
        <hr>
    
        <div class="comment-body">
          <p>{{- .Content -}}</p>
        </div>
      </div>
    {{ end }}
  {{ end }}

  {{ with .LastComment }}
    <div
      hx-get="{{ $.QueryURL }}"
      hx-trigger="revealed once"
      hx-swap="afterend"
      class="comment shadow-sm-hover"
    >
      <div class="comment-header">
        <p><b>{{- .User.Name -}} {{- .User.Surname -}}</b></p>

        <p><small>{{- .TimeAgo -}}</small></p>
      </div>

      <hr>

      <div class="comment-body">
        <p>{{- .Content -}}</p>
      </div>
    </div>
  {{ end }}

  {{ with .ErrorMessage }}
    <script>
      notyf.open({
        type: 'flash-error',
        message: '{{.}}'
      });
    </script>
  {{ end }}
{{ end }}
