{{ define "comment" }}
  <div class="comment shadow-sm-hover">
    <div class="comment-header">
      <p><b>{{- .User.Name -}} {{- .User.Surname -}}</b></p>

      <p><small>{{- .TimeAgo -}}</small></p>
    </div>

    <hr>

    <div class="comment-body">
      <p>{{- .Content -}}</p>
    </div>
  </div>
{{ end }}
