{{ define "course-purchase-form" }}
<form hx-post="/courses/{{- .CourseSlug -}}/purchase">
  {{ template "form-control" .AffiliateCodeInput }}
  {{ template "form-control" .AffiliatePointsInput }}
  {{ template "form-control" .DiscountCodeInput }}

  <div class="discounts">
    <div class="discount">
      <p>Affiliate Code Discount:</p>
      <p><b>-{{- .AffiliateCodeDiscount -}}%</b></p>
    </div>

    <div class="discount">
      <p>Affiliate Points Discount:</p>
      <p><b>-{{- .AffiliatePointsDiscount -}}%</b></p>
    </div>

    <div class="discount">
      <p>Discount Code:</p>
      <p><b>-{{- .DiscountCodeDiscount -}}%</b></p>
    </div>
  </div>

  <hr>

  <div class="total">
    <p>Total Price:</p>
    <p><b>${{- .Total -}}</b></p>
  </div>

  <button type="submit" class="btn btn-blue shadow-sm">Buy Course</button>

  {{ template "error-message" .ErrorMessage }}
</form>
{{ end }}
