{{ define "forgot-password-form" }}
  <form hx-post="/accounts/reset-password">
    <p>We'll send you an email with instructions on how to reset your password.</p>

    {{ template "form-control" .EmailInput}}

    {{ template "error-message" .ErrorMessage }}

    <button type="submit" class="btn btn-blue shadow-sm">Send Password Reset Email</button>
  </form>
{{ end }}
