{{ define "noscript" }}
  <noscript>
    <section class="noscript-container shadow-sm">
      <h2>This website does not work without Javascript enabled</h2>

      <p>This website has a lot of functionality that relies on Javascript to work properly. Please re-enable Javascript and then reload the web page.</p>
    </section>
  </noscript>
{{ end }}
