{{ define "select" }}
  {{ with .ErrorMessage }}
    <p>An error occurred</p>

    <script>
      notyf.open({
        type: 'flash-error',
        message: '{{.}}'
      });
    </script>
  {{ else }}
    <select name="{{- .Name -}}" id="{{- .Name -}}" hx-post="{{- .URL -}}" hx-trigger="change" hx-target="this" hx-swap="outerHTML" class="shadow-sm">
      {{ range $key, $value := .Options }}
        <option value="{{- $key -}}" {{- if eq $key $.Selected -}}selected{{- end -}}>{{- $value -}}</option>
      {{ end }}
    </select>
  {{ end }}
{{ end }}
