{{ define "signup-form" }}
  <form hx-post="/accounts/signup" novalidate autocomplete="off" spellcheck="false">
    {{ template "form-control" .FirstNameInput }}
    {{ template "form-control" .LastNameInput }}
    {{ template "form-control" .EmailInput }}
    {{ template "password-control" .PasswordInput }}
    {{ template "password-control" .ConfirmPasswordInput }}

    {{ template "error-message" .ErrorMessage }}

    <button type="submit" class="btn btn-blue shadow-sm">Sign Up</button>
  </form>
{{ end }}
