.auth-section {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px);
  border-radius: 16px;
  padding: 4rem;
}

.auth-section h1 {
  font-size: 2em;
  margin-bottom: 5rem;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-error {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  color: #FF1E00;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #FF1E00;
}

.form-control {
  display: flex;
  margin-bottom: 3rem;
  gap: 1rem;
}

.form-control:has(input:is([type=text], [type=email], [type=password])) {
  flex-direction: column;
}

.form-control:has(input[type=checkbox]) {
  flex-direction: row;
  align-items: center;
}

.form-control label {
  font-size: 1em;
}

.form-control input:is([type=text], [type=email], [type=password]) {
  background: transparent;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid gray;
  caret-color: white;
  color: white;
}

.form-control input:is([type=text], [type=email], [type=password]):focus {
  outline: none;
  border-bottom: 1px solid #00E1FF;
}

.form-control.has-error {
  color: #FF1E00;
}

.form-control.has-error input:is([type=text], [type=email], [type=password]) {
  border-bottom-color: #FF1E00;
}

.form-control.has-error .errors {
  padding: 0 0.5rem;
  text-transform: capitalize;
}

.form-control.has-error .errors li + li {
  margin-top: 0.5rem;
}

.auth-form button {
  width: 100%;
  margin-bottom: 3rem;
  border: none;
  border-radius: 16px;
  padding: 0.5rem 2rem;
  font-size: 1em;
}

.auth-form-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}

.auth-form-links a:hover {
  text-decoration: underline;
}
