<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Tutorials by {{ .Author.Name }} {{ .Author.Surname }}</title>
    <link>https://www.psionicalch.com/author/{{ .Author.Slug }}/tutorials</link>
    <description>Tutorials written by {{ .Author.Name }} {{ .Author.Surname }} on PsionicAlch.</description>
    <language>en-us</language>
    <lastBuildDate>{{ format_time_to_rfc_822 .LastBuildTime }}</lastBuildDate>
    <atom:link href="https://www.psionicalch.com/rss/author/{{- .Author.Slug -}}/tutorials" rel="self" type="application/rss+xml" />
    <image>
      <url>{{ assets "/img/psionicalch-logo.jpg" }}</url>
      <title>Tutorials by {{ .Author.Name }} {{ .Author.Surname }}</title>
      <link>https://www.psionicalch.com/author/{{ .Author.Slug }}/tutorials</link>
    </image>

    {{ range .Tutorials }}
    <item>
      <title>{{- .Title -}}</title>
      <link>https://www.psionicalch.com/tutorials/{{- .Slug -}}</link>
      <description>{{- .Description -}}</description>
      <pubDate>{{- format_time_to_rfc_822 .CreatedAt -}}</pubDate>
      <dc:creator>{{ $.Author.Name }} {{ $.Author.Surname }}</dc:creator>
      <category>Tutorial</category>
      <guid>https://www.psionicalch.com/tutorials/{{- .Slug -}}</guid>
      <atom:link href="https://www.psionicalch.com/rss/tutorials/{{- .Slug -}}" rel="alternative" type="application/rss+xml" />
    </item>
    {{ end }}
  </channel>
</rss>
