{{ define "admins-list" }}
  {{ range .Admins }}
    <tr id="{{- .ID -}}">
      <td>{{- .ID -}}</td>
      <td>{{- .CreatedAt | pretty_date -}}</td>
      <td>{{- .UpdatedAt | pretty_date -}}</td>
      <td>{{- .Name -}}</td>
      <td>{{- .Surname -}}</td>
      <td><button class="btn btn-red shadow-sm" x-on:click="openModal(&quot;{{- .Name -}}&quot;, &quot;{{- .Surname -}}&quot;, &quot;{{- .ID -}}&quot;)">Remove Admin</button></td>
    </tr>
  {{ end }}

  {{ if .LastAdmin }}
    <tr
      id="{{- .LastAdmin.ID -}}"
      hx-get="{{- .QueryURL }}"
      hx-trigger="revealed once"
      hx-swap="afterend"
    >
      <td>{{- .LastAdmin.ID -}}</td>
      <td>{{- .LastAdmin.CreatedAt | pretty_date -}}</td>
      <td>{{- .LastAdmin.UpdatedAt | pretty_date -}}</td>
      <td>{{- .LastAdmin.Name -}}</td>
      <td>{{- .LastAdmin.Surname -}}</td>
      <td><button class="btn btn-red shadow-sm" x-on:click="openModal(&quot;{{- .LastAdmin.Name -}}&quot;, &quot;{{- .LastAdmin.Surname -}}&quot;, &quot;{{- .LastAdmin.ID -}}&quot;)">Remove Admin</button></td>
    </tr>
  {{ end }}

  {{ with .ErrorMessage }}
    <script>
      notyf.open({
        type: 'flash-error',
        message: '{{.}}'
      });
    </script>
  {{ end }}
{{ end }}
