{{ define "change-password-form" }}
  <form hx-post="/settings/change-password">
    {{ template "password-control" .PreviousPasswordInput }}
    {{ template "password-control" .NewPasswordInput }}

    <button type="submit" class="btn btn-blue shadow-sm">Change Password</button>
  </form>
{{ end }}
