{{ define "footer" }}
  <footer class="footer">
    <div class="container">
      <hr>

      <p class="text-center">&copy; 2024 <a href="/">PsionicAlch</a>. All rights reserved. Art by <a href="https://github.com/egonelbre/gophers/tree/master"><b>@egonelbre</b></a> and <a href="https://github.com/MariaLetta/free-gophers-pack"><b>Maria Letta</b></a></p>

      <div class="footer-links">
        <div class="link-container">
          <h3>General</h3>

          <div class="links">
            <a href="/affiliate-program">Affiliate Program</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/refund-policy">Refund Policy</a>
          </div>
        </div>

        <div class="link-container">
          <h3>Social Media</h3>

          <div class="links">
            <a href="https://x.com/psionicalch">Twitter</a>
            <a href="https://www.threads.net/@psionicalch">Threads</a>
            <a href="https://bsky.app/profile/psionicalch.bsky.social">Bluesky</a>
          </div>
        </div>

        <div class="link-container">
          <h3>RSS Feeds</h3>

          <div class="links">
            <a href="/rss">General</a>
            <a href="/tutorials/rss">Tutorials</a>
            <a href="/courses/rss">Courses</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{{ end }}
