{{ define "forgot-password-form" }}
  <form action="/accounts/reset-password" method="post">
    {{ template "form-control" .EmailInput}}

    <button type="submit" class="btn btn-blue shadow-sm">Send Password Reset Email</button>
  </form>
{{ end }}
