{{ define "header" }}
  <header class="header">
    {{ template "navbar" (props "User" .User) }}

    <!-- Hero Section -->
    <section id="hero" class="hero">
      <div class="container">
        <div class="hero-wrapper">
          <h1 class="gradient-text heading">{{ .Heading }}</h1>

          <p>{{ .Text }}</p>

          <a href="{{ .LinkHref }}" class="gradient-btn btn">{{ .LinkText }}</a>
        </div>
      </div>
    </section>
  </header>
{{ end }}
