{{ define "login-form" }}
  <form action="/accounts/login" method="post" novalidate autocomplete="off" spellcheck="false">
    {{ template "form-control" .EmailInput}}
    {{ template "password-control" .PasswordInput }}

    <button type="submit" class="btn btn-blue shadow-sm">Log In</button>
  </form>
{{ end }}
