{{ define "login-form" }}
  <form method="post" class="auth-form" spellcheck="false">
    {{ if .Error }}
      <div class="form-error">
        <p>{{ .Error }}</p>
      </div>
    {{ end }}

    {{ with .Form }}
      {{ template "email-field" (props "Value" .Email "ValidationURL" "/accounts/validate/login-form" "Errors" .Errors.email) }}
      {{ template "password-field" (props "Value" .Password "ValidationURL" "/accounts/validate/login-form" "Errors" .Errors.password) }}
      {{ template "remember-field" (props "Checked" .RememberMe) }}
    {{ end }}

    <button type="submit" class="gradient-btn" hx-post="/accounts/login" hx-target="closest form" hx-swap="outerHTML">Log In</button>

    <div class="auth-form-links">
      <a href="/accounts/forgot">Forgot Your Password?</a>
      <a href="/accounts/signup">Sign Up!</a>
    </div>
  </form>
{{ end }}
