{{ define "navbar" }}
<nav class="navbar">
  <div class="container">
    <div class="main-navbar">
      <h1><a href="/">PsionicAlch</a></h1>

      <ul class="desktop-nav-links">
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/courses">Courses</a></li>

        {{ if .User }}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/settings">Settings</a></li>

          {{ if .User.IsAdmin }}
            <li><a href="/admin">Admin</a></li>
          {{ end }}

          <li><a href="#" class="btn-inline btn-red shadow-sm">Log Out</a></li>
        {{ else }}
          <li><a href="/accounts/login" class="btn-inline btn-blue shadow-sm">Login</a></li>
        {{ end}}
      </ul>

      <button
        x-on:click="menuOpen = true"
        class="hamburger-btn"
        aria-label="Toggle menu"
      >
        <span>&#9776;</span>
      </button>
    </div>
  </div>
  <div x-bind:class="{ 'hidden': !menuOpen, 'visible': menuOpen }" style="display: none;" class="dropdown-navbar">
    <div class="container">
      <div class="mobile-nav-head">
        <h1><a href="/">PsionicAlch</a></h1>

        <button
          x-on:click="menuOpen = false"
          class="hamburger-btn"
          aria-label="Toggle menu"
        >
          <span>&#10005;</span>
        </button>
      </div>

      <ul class="mobile-nav-links">
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/courses">Courses</a></li>

        {{ if .User }}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/settings">Settings</a></li>

          {{ if .User.IsAdmin }}
            <li><a href="/admin">Admin</a></li>
          {{ end }}

          <li><a href="#" class="btn-inline btn-red shadow-sm">Log Out</a></li>
        {{ else }}
          <li><a href="/accounts/login" class="btn-inline btn-blue shadow-sm">Login</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
{{ end }}
