{{ define "reset-password-form" }}
  <form hx-post="/accounts/reset-password/{{.EmailToken}}">
    {{ template "password-control" .PasswordInput }}
    {{ template "password-control" .ConfirmPasswordInput }}

    {{ template "error-message" .ErrorMessage }}

    <button type="submit" class="btn btn-blue shadow-sm">Reset Password</button>
  </form>
{{ end }}
