{{ template "admin" .}}

{{ define "title" }}
  <title>Comments Administration Panel | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <section class="admin-container">
    <div class="admin-header">
      <h2><a href="/admin/comments">Comments Administration Panel ({{- .NumComments }} comments)</a></h2>

      <div class="admin-header-actions">
        <form
          hx-get="/admin/comments/htmx?{{- .URLQuery -}}"
          hx-target=".admin-body table tbody"
          hx-trigger="change, keyup delay:500ms"
        >
          <input type="text" name="query" id="query" class="shadow-sm" placeholder="Search terms...">

          <select name="tutorial" id="tutorial" class="shadow-sm">
            <option value="">Tutorials</option>
            {{ range .Tutorials }}
              <option value="{{- .ID -}}">{{- .Title -}}</option>
            {{ end }}
          </select>

          <select name="user" id="user" class="shadow-sm">
            <option value="">Users</option>
            {{ range .Users }}
              <option value="{{- .ID -}}">{{- .Name }} {{ .Surname -}}</option>
            {{ end }}
          </select>
        </form>
      </div>
    </div>

    <hr>

    <div class="admin-body shadow-sm">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Comment</th>
            <th>User</th>
            <th>Tutorial</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{ template "admin-comments-list" .Comments }}
        </tbody>
      </table>
    </div>
  </section>
{{ end }}
