{{/*
  Required properties:
    .Value (string)
    .ValidationURL (string)
    .Errors ([]string)
*/}}

{{ define "confirm-password-field" }}
  {{ template "input-field" (props "Label" "Confirm Password:" "Name" "confirm-password" "Type" "password" "PlaceHolder" "Confirm Password" "Value" .Value "ValidationURL" .ValidationURL  "Errors" .Errors)}}
{{ end }}
