{{ define "navbar" }}
  <nav>
    <div class="container">
      <div class="navbar">
        <h2 class="navbar-header"><a href="/">PsionicAlch</a></h2>

        <ul class="navbar-links">
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/accounts/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
{{ end }}
