{{/*
  Required properties:
    .Value (string)
    .ValidationURL (string)
    .Errors ([]string)
*/}}

{{ define "password-field" }}
  {{ template "input-field" (props "Label" "Password:" "Name" "password" "Type" "password" "PlaceHolder" "Enter Password" "Value" .Value "ValidationURL" .ValidationURL "Errors" .Errors) }}
{{ end }}
