{{ define "signup-form"}}
  <form method="post" class="auth-form">
    {{ template "email-field" (props "Value" .Email "ValidationURL" "/accounts/validate/signup-form" "Errors" .Errors.email) }}
    {{ template "password-field" (props "Value" .Password "ValidationURL" "/accounts/validate/signup-form" "Errors" .Errors.password) }}
    {{ template "confirm-password-field" (props "Value" .ConfirmPassword "ValidationURL" "/accounts/validate/signup-form"  "Errors" .Errors.confirm_password) }}
    {{ template "remember-field" }}

    <button type="submit" class="gradient-btn">Sign Up</button>

    <div class="auth-form-links">
      <a href="/accounts/login">Already have an account?</a>
    </div>
  </form>
{{ end }}
