{{ define "base" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ block "meta-tags" . }}
    {{ end }}

    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">

    {{ block "stylesheets" . }}
    {{ end }}

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-head-support@2.0.1/head-support.js"></script>

    {{ block "head-scripts" . }}
    {{ end }}

    {{ block "title" . }}
      <title>Build Real-World Golang Applications - Practical Courses for Intermediate Developers</title>
    {{ end }}
  </head>
  <body
    hx-ext="head-support"
    hx-boost="true"
    hx-history="false"
    x-data="{ menuOpen: false }"
    x-bind:class="{ 'noscroll': menuOpen }"
  >
    {{ template "noscript" }}

    <!-- TODO: Pass navbar specific struct down to template -->
    {{ template "navbar" .Navbar }}

    {{ block "body" . }}
      <h1>Default Body</h1>
    {{ end }}

    {{ template "footer" . }}

    <script src="/assets/js/script.js"></script>

    {{ block "javascript" . }}
    {{ end }}
  </body>
  </html>
{{ end }}
