{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/authentication.css">
{{ end }}

{{ define "title" }}
  <title>Create a PsionicAlch Account - Start Learning Golang</title>
{{ end }}

{{ define "body" }}
  <main class="authentication">
    <div class="container">
      <section class="authentication-container shadow">
        <h2>Sign Up</h2>

        {{ template "signup-form" .SignupForm }}

        <hr>

        <div class="links">
          <a href="/accounts/login">Already have an account?</a>
        </div>
      </section>
    </div>
  </main>
{{ end }}

{{ define "javascript" }}
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data('auth', () => ({
        passwordVisible: false,
        inputType: 'password',
        confirmPasswordVisible: false,
        confirmInputType: 'password',

        togglePassword() {
          this.passwordVisible = !this.passwordVisible;

          this.inputType = this.passwordVisible ? 'text' : 'password';
        },

        toggleConfirmPassword() {
          this.confirmPasswordVisible = !this.confirmPasswordVisible;

          this.confirmInputType = this.confirmPasswordVisible ? 'text' : 'password';
        }
      }));
    });
  </script>
{{ end }}
