{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/authentication.css">
{{ end }}

{{ define "title" }}
  <title>Reset Your Password - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="authentication">
    <div class="container">
      <section class="authentication-container shadow">
        <h2>Reset Your Password</h2>

        <p>We'll send you an email with instructions on how to reset your password.</p>

        <form x-data="auth" action="/">
          <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="shadow-sm">
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Send Password Reset Email</button>
        </form>
      </section>
    </div>
  </main>
{{ end }}
