{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/authentication.css">
{{ end }}

{{ define "title" }}
  <title>Reset Your Password - Secure Account Access | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="authentication">
    <div class="container">
      <section class="authentication-container shadow">
        <h2>Enter Your New Password</h2>

        {{ template "reset-password-form" .ResetPasswordForm }}
      </section>
    </div>
  </main>
{{ end }}
