{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/authentication.css">
{{ end }}

{{ define "title" }}
  <title>Create a PsionicAlch Account - Start Learning Golang</title>
{{ end }}

{{ define "body" }}
  <main class="authentication">
    <div class="container">
      <section class="authentication-container shadow">
        <h2>Sign Up</h2>

        {{ template "signup-form" .SignupForm }}

        <hr>

        <div class="links">
          <a href="/accounts/login">Already have an account?</a>
        </div>
      </section>
    </div>
  </main>
{{ end }}
