{{ template "admin" .}}

{{ define "title" }}
  <title>Users - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <section class="admin-container">
    <div class="admin-header">
      <h2><a href="/admin/users">Users Administration ({{- .NumUsers }} users)</a></h2>

      <div class="admin-header-actions">
        <form
          hx-get="/admin/users/htmx?{{- .URLQuery -}}"
          hx-target=".admin-body table tbody"
          hx-trigger="change, keyup delay:500ms"
        >
          <input
            type="text"
            name="query"
            id="query"
            class="shadow-sm"
            placeholder="Search terms..."
          >

          <select name="level" id="level" class="shadow-sm">
            <option value="" selected>Authorization Level</option>
            {{ range .AuthorizationLevels }}
              <option value="{{.}}">{{.}}</option>
            {{ end }}
          </select>
        </form>
      </div>
    </div>

    <hr>

    <div class="admin-body shadow-sm">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Slug</th>
            <th>Email</th>
            <th>Affiliate Code</th>
            <th>Affiliate Points</th>
            <th>Author</th>
            <th>Admin</th>
            <th>Tutorials Liked</th>
            <th>Tutorials Bookmarked</th>
            <th>Courses Owned</th>
            <th>Tutorials Written</th>
            <th>Courses Written</th>
            <th>Created At</th>
            <th>Updated at</th>
          </tr>
        </thead>
        <tbody>
          {{ template "admin-users-list" .Users }}
        </tbody>
      </table>
    </div>
  </section>
{{ end }}

