{{ template "admin" .}}

{{ define "title" }}
  <title>Discounts - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <section class="admin-container">
    <div class="admin-header" x-data="{ modalOpen: false }">
      <h2><a href="/admin/discounts">Discounts Administration (discounts: {{ .NumDiscounts -}})</a></h2>

      <div class="admin-header-actions">
        <form
          hx-get="/admin/discounts/htmx?{{- .URLQuery -}}"
          hx-target=".admin-body table tbody"
          hx-trigger="change, keyup delay:500ms"
        >
          <input type="text" name="query" id="query" class="shadow-sm" placeholder="Search terms...">

          <select name="status" id="status" class="shadow-sm">
            <option value="" selected>Discount Active Status</option>
            {{ range .DiscountStatus }}
              <option value="{{- . -}}">{{- . -}}</option>
            {{ end }}
          </select>
        </form>

        <button
          class="btn btn-blue shadow-sm"
          x-on:click="modalOpen = true"
        >
          Add New Discount
        </button>
      </div>

      <template x-teleport="body">
        <section class="admin-modal" x-show="modalOpen">
          <div class="admin-modal-container shadow-sm">
            <div class="admin-modal-header">
              <h2>Add New Discount</h2>
            </div>

            <div class="admin-modal-body">
              {{ template "new-discount-form" .NewDiscountForm }}
            </div>
          </div>
        </section>
      </template>
    </div>

    <hr>

    <div class="admin-body shadow-sm">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Code</th>
            <th>Discount (%)</th>
            <th>Uses</th>
            <th>Used</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          {{ template "admin-discounts-list" .Discounts }}
        </tbody>
      </table>
    </div>
  </section>
{{ end }}
