{{ template "admin" .}}

{{ define "meta-tags" }}
  {{/* TODO: Generate SEO Tags with ChatGPT. */}}
{{ end }}

{{ define "title" }}
  <title>Admins - PsionicAlch</title>
{{ end }}

{{ define "body" }}
<section class="admin-container">
  <div class="admin-header" x-data="{ modalOpen: false }">
    <h2>Admins Administration</h2>

    <div class="admin-header-actions">
      <form action="/">
        <input type="text" name="search-term" id="search-term" class="shadow-sm" placeholder="Search terms...">
      </form>

      <button class="btn btn-blue shadow-sm" x-on:click="modalOpen = true">Add New Admin</button>
    </div>

    <template x-teleport="body">
      <section class="admin-modal" x-show="modalOpen">
        <div class="admin-modal-container shadow-sm">
          <div class="admin-modal-header">
            <h2>Add New Admin</h2>
          </div>

          <div class="admin-modal-body">
            <form action="/">
              <div class="form-control">
                <select name="user" id="user" class="shadow-sm">
                  <option value="">No Author</option>
                  <option value="01A8E54F1RYQJYQGF4ZTWM16V8">John Doe</option>
                  <option value="01A8E8J7E2YMG98NKF3TQ84G1H">Jane Smith</option>
                  <option value="01A8EC3WZ4FJYP62PG6T0M5CBX">Michael Johnson</option>
                  <option value="01A8F2QW0ZGM3WXNQHC9R1SVDN">Emily Brown</option>
                  <option value="01A8F8YRQ7JQF8X0XCHN5WT4F9">Chris Davis</option>
                  <option value="01A8FESM8ZGFKP0YQDJ2XN9HJB">Sarah Miller</option>
                </select>
              </div>

              <div class="admin-modal-actions">
                <button
                  x-on:click.prevent="modalOpen = false"
                  class="btn btn-gray shadow-sm"
                >
                  Cancel
                </button>

                <button type="submit" class="btn btn-blue shadow-sm">Add Discount</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </template>
  </div>

  <hr>

  <div class="admin-body shadow-sm" x-data="users_data">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{ template "admins-list" .Admins }}
      </tbody>
    </table>

    <template x-teleport="body">
      <section class="admin-modal" x-show="modalOpen">
        <div class="admin-modal-container shadow-sm">
          <div class="admin-modal-header">
            <h2>Remove <span x-text="selectedFirstName"></span> <span x-text="selectedLastName"></span>'s Admin Status</h2>
          </div>

          <div class="admin-modal-body">
            <form action="/">
              <div class="admin-modal-actions">
                <button
                  x-on:click.prevent="modalOpen = false"
                  class="btn btn-gray shadow-sm"
                >
                  Cancel
                </button>

                <button type="submit" class="btn btn-red shadow-sm">Remove Admin Status</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </template>
  </div>
</section>
{{ end }}

{{ define "javascript" }}
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data('users_data', () => ({
        modalOpen: false,
        selectedFirstName: "",
        selectedLastName: "",
        selectedID: "",

        openModal(firstName, lastName, id) {
          this.selectedFirstName = firstName;
          this.selectedLastName = lastName;
          this.selectedID = id;

          this.modalOpen = true;
        },

        closeModal() {
          this.selectedFirstName = "";
          this.selectedLastName = "";
          this.selectedID = "";

          this.modalOpen = false;
        }
      }));
    });
  </script>
{{ end }}
