{{ template "admin" .}}

{{ define "meta-tags" }}
  {{/* TODO: Generate SEO Tags with ChatGPT. */}}
{{ end }}

{{ define "title" }}
  <title>Courses - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <section class="admin-container">
    <div class="admin-header">
      <h2>Courses Administration</h2>

      <div class="admin-header-actions">
        <form
          hx-get="/admin/courses/htmx?{{- .URLQuery -}}"
          hx-target=".admin-body table tbody"
          hx-trigger="change, keyup delay:500ms"
        >
          <input type="text" name="query" id="query" class="shadow-sm" placeholder="Search terms...">

          <select name="status" id="status" class="shadow-sm">
            <option value="">Publish Status</option>
            {{ range .PublishStatus }}
              <option value="{{- . -}}">{{- . -}}</option>
            {{ end }}
          </select>

          <select name="author" id="author" class="shadow-sm">
            <option value="">Author</option>
            <option value="null">No Author</option>
            {{ range .Authors }}
              <option value="{{- .ID -}}">{{- .Name }} {{ .Surname -}}</option>
            {{ end }}
          </select>

          <select name="keyword" id="keyword" class="shadow-sm">
            <option value="">Keywords</option>
            {{ range .Keywords }}
              <option value="{{- . -}}">{{- . -}}</option>
            {{ end }}
          </select>
        </form>
      </div>
    </div>

    <hr>

    <div class="admin-body shadow-sm">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Description</th>
            <th>Published</th>
            <th>Author</th>
            <th>Keywords</th>
            <th>Purchases</th>
            <th>Created At</th>
            <th>Updated At</th>
          </tr>
        </thead>
        <tbody>
          {{ template "admin-courses-list" .Courses }}
        </tbody>
      </table>
    </div>
  </section>
{{ end }}
