{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/affiliate-history.css">
{{ end }}

{{ define "title" }}
  <title>Affiliate History - Track Your Points | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="affiliate">
    <div class="container">
      <section class="affiliate-container">
        <div class="affiliate-header">
          <h2>Affiliate Points History</h2>

          <p>Current Affiliate Points: <b>24</b></p>
        </div>

        <hr>

        <div class="affiliate-body">
          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-08</time>
          </div>

          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-08</time>
          </div>

          <div class="affiliate-timestamp removed shadow-sm">
            <p>10 points removed</p>

            <time datetime="2024-11-08">2024-11-07</time>
          </div>

          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-07</time>
          </div>

          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-06</time>
          </div>

          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-06</time>
          </div>

          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-06</time>
          </div>

          <div class="affiliate-timestamp removed shadow-sm">
            <p>10 points removed</p>

            <time datetime="2024-11-08">2024-11-05</time>
          </div>

          <div class="affiliate-timestamp added shadow-sm">
            <p>10 points added</p>

            <time datetime="2024-11-08">2024-11-04</time>
          </div>
        </div>
      </section>
    </div>
  </main>
{{ end }}
