{{ template "base" .}}

{{ define "meta-tags" }}
  {{/* TODO: Generate SEO Tags with ChatGPT. */}}
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/tutorials.css">
{{ end }}

{{ define "title" }}
  <title>Tutorials by {{ .Author.Name }} {{ .Author.Surname }} | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="tutorials">
    <div class="container">
      <form>
        <input
          class="shadow-sm"
          type="text"
          name="query"
          placeholder="What tutorial are you looking for?"
          hx-trigger="keyup changed delay:500ms"
          hx-get="/tutorials/htmx"
          hx-target=".cards-list"
        >
      </form>

      <hr>

      <div class="tutorials-container">
        <h2>{{- .Author.Name }} {{ .Author.Surname }} has written {{ .LenTutorials }} tutorials</h2>

        <div class="cards-list">
          {{ template "tutorials-list" .Tutorials }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
