{{ template "base" .}}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/purchase-course.css">
{{ end }}

{{ define "title" }}
  <title>Buy {{ .Course.Title }} - Secure Your Spot | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="course-purchase">
    <div class="container">
      <section class="course-purchase-container shadow-sm">
        <div class="course-purchase-header">
          <img src="{{ .Course.BannerURL }}" alt="Course banner image" class="shadow-sm">

          <h2>{{ .Course.Title }}</h2>

          <p>Made by <a href="/authors/{{- .Author.Slug -}}/courses"><b>{{- .Author.Name }} {{ .Author.Surname -}}</b></a></p>
        </div>

        <hr>

        <div class="course-purchase-body">
          {{ template "course-purchase-form" .CoursePurchaseForm }}
        </div>
      </section>
    </div>
  </main>
{{ end }}
