{{ template "base" .}}

{{ define "stylesheets" }}
<link rel="stylesheet" href="{{ assets "/css/error.css" }}">
{{ end }}

{{ define "title" }}
  <title>Page Not Found | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="error">
    <div class="container">
      <section class="error-container">
        <img src="{{ assets "/img/desires-img.svg" }}" alt="Crash test dummy gopher">

        <h2>Page Not Found</h2>

        <p>We were unable to find the page that you requested</p>
      </section>
    </div>
  </main>
{{ end }}
