{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Set up banner images -->
  <meta name="description" content="Forgot your password? Request a secure link to reset your PsionicAlch account password and regain access to your Golang courses.">
  <meta name="keywords" content="PsionicAlch password reset, forgot password, reset account, regain access, secure password reset">
  <meta name="robots" content="noindex, nofollow">

  <meta property="og:title" content="Forgot Your Password? - Reset with PsionicAlch">
  <meta property="og:description" content="Need to reset your password? Request a secure link to regain access to your PsionicAlch account and continue building real-world Golang applications.">
  <meta property="og:image" content="https://www.psionicalch.com/path-to-forgot-password-banner.jpg">
  <meta property="og:url" content="https://www.psionicalch.com/accounts/reset-password">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="PsionicAlch">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Forgot Your Password? Reset with PsionicAlch">
  <meta name="twitter:description" content="Request a secure password reset link to regain access to your PsionicAlch account and Golang courses.">
  <meta name="twitter:image" content="https://www.psionicalch.com/path-to-forgot-password-banner.jpg">
  <meta name="twitter:site" content="@YourTwitterHandle">
  <meta name="twitter:creator" content="@YourTwitterHandle">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Forgot Password",
      "description": "Forgot your PsionicAlch password? Request a password reset link to securely regain access to your account and continue with your Golang courses.",
      "url": "https://www.psionicalch.com/reset-password"
    }
  </script>
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/authentication.css">
{{ end }}

{{ define "title" }}
  <title>Reset Your Password - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="authentication">
    <div class="container">
      <section class="authentication-container shadow">
        <h2>Reset Your Password</h2>

        <p>We'll send you an email with instructions on how to reset your password.</p>

        <form x-data="auth">
          <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="shadow-sm">
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Send Password Reset Email</button>
        </form>
      </section>
    </div>
  </main>
{{ end }}
