{{ template "base" . }}

{{ define "head" }}
  <link rel="stylesheet" href="/assets/css/auth.css">

  {{ template "spiral" "gray" }}

  <title>Login - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <header class="header">
    {{ template "navbar" }}

    <section class="auth-section">
      <h1>Log In</h1>

      {{ with .LoginForm }}
        {{ template "login-form" . }}
      {{ else }}
        <p>LoginFormData was not set...</p>
      {{ end }}
    </section>
  </header>
{{ end }}
