{{ template "base" .}}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="{{ assets "/css/courses.css" }}">
{{ end }}

{{ define "title" }}
  <title>Your Courses - Access Purchased Golang Courses | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="courses">
    <div class="container">
      <form>
        <input
          class="shadow-sm"
          type="text"
          name="query"
          id="query"
          placeholder="What course are you looking for?"
          hx-trigger="keyup changed delay:500ms"
          hx-get="/profile/courses/htmx"
          hx-target=".cards-list"
        >
      </form>

      <hr>

      <div class="courses-container">
        <h2>My Courses</h2>

        <div class="cards-list">
          {{ template "profile-courses-list" .Courses }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
