{{ template "base" .}}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/affiliate-history.css">
{{ end }}

{{ define "title" }}
  <title>Affiliate History - Track Your Points | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="affiliate">
    <div class="container">
      <section class="affiliate-container">
        <div class="affiliate-header">
          <h2>Affiliate Points History</h2>

          <p>Current Affiliate Points: <b>{{- .User.AffiliatePoints -}}</b></p>
        </div>

        <hr>

        <div class="affiliate-body">
          {{ template "affiliate-history-list" .AffiliateHistory }}
        </div>
      </section>
    </div>
  </main>
{{ end }}
