{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/profile.css">
{{ end }}

{{ define "title" }}
  <title>Your Profile - Track Affiliates, View Courses, and More | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="profile">
    <div class="container">
      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>Affiliate Program</h2>

            <a href="/profile/affiliate-history" class="btn btn-blue shadow-sm">View History</a>
          </div>

          <div class="profile-section-body">
            <p>Available Affiliate Points: <b>23</b></p>
            <p>Affiliate Link Code: <b>01JBC9HM3C160KYY6WE7KM8T20</b></p>
          </div>

          <div class="profile-section-mobile">
            <a href="/profile/affiliate-history" class="btn btn-blue shadow-sm">View History</a>
          </div>
        </div>
      </section>

      <hr>

      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>My Courses</h2>

            <div class="actions">
              <a href="/profile/courses" class="btn btn-blue shadow-sm">More</a>
            </div>
          </div>

          <div class="profile-section-body">
            <div class="cards-list">
              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Course Name</h2>
                  <p>This is a short course description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/profile/courses/course-slug-goes-here" class="btn-blue shadow-sm"><small>Start Course</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Course Name</h2>
                  <p>This is a short course description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/profile/courses/course-slug-goes-here" class="btn-blue shadow-sm"><small>Start Course</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Course Name</h2>
                  <p>This is a short course description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/profile/courses/course-slug-goes-here" class="btn-blue shadow-sm"><small>Start Course</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Course Name</h2>
                  <p>This is a short course description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/profile/courses/course-slug-goes-here" class="btn-blue shadow-sm"><small>Start Course</small></a>
                </div>
              </div>
            </div>
          </div>

          <div class="profile-section-mobile">
            <div class="actions">
              <a href="/profile/courses" class="btn btn-blue shadow-sm">More</a>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>My Saved Tutorials</h2>

            <div class="actions">
              <a href="/profile/tutorials/bookmarks" class="btn btn-blue shadow-sm">More</a>
            </div>
          </div>

          <div class="profile-section-body">
            <div class="cards-list">
              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>
            </div>
          </div>

          <div class="profile-section-mobile">
            <div class="actions">
              <a href="/profile/tutorials/bookmarks" class="btn btn-blue shadow-sm">More</a>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>My Liked Tutorials</h2>

            <div class="actions">
              <a href="/profile/tutorials/liked" class="btn btn-blue shadow-sm">More</a>
            </div>
          </div>

          <div class="profile-section-body">
            <div class="cards-list">
              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>

              <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
                <div class="card-body">
                  <h2>Tutorial Name</h2>
                  <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
                  <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                </div>
              </div>
            </div>
          </div>

          <div class="profile-section-mobile">
            <div class="actions">
              <a href="/profile/tutorials/liked" class="btn btn-blue shadow-sm">More</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
{{ end }}
