{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Set up banner images -->
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="Continue your learning journey with {Course Name} on PsionicAlch. Dive into Chapter {Chapter Number}, {Chapter Title}, to expand your practical skills in Golang development.">
  <meta name="keywords" content="Golang course, {Course Name}}, Chapter {Chapter Number}, {Chapter Title}, Golang tutorial, {Specific Skills or Topics Covered}, PsionicAlch">

  <meta property="og:title" content="{Course Name} - Chapter {Chapter Number}: {Chapter Title}">
  <meta property="og:description" content="Learn more with Chapter {Chapter Number} of {Course Name} on PsionicAlch. Discover {Chapter Title} and continue building real-world applications in Golang.">
  <meta property="og:image" content="https://www.psionicalch.com/path-to-chapter-banner.jpg">
  <meta property="og:url" content="https://www.psionicalch.com/profile/courses/course-slug-goes-here/chapter-slug-goes-here">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="PsionicAlch">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{Course Name} - Chapter {Chapter Number}: {Chapter Title}">
  <meta name="twitter:description" content="Learn more with Chapter {Chapter Number} of {Course Name} on PsionicAlch. Dive into {Chapter Title} to enhance your Golang skills.">
  <meta name="twitter:image" content="https://www.psionicalch.com/path-to-chapter-banner.jpg">
  <meta name="twitter:site" content="@psionicalch">
  <meta name="twitter:creator" content="@psionicalch">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LearningResource",
      "name": "{Course Name} - Chapter {Chapter Number}: {Chapter Title}",
      "description": "Chapter {Chapter Number} of {Course Name}. Learn {Specific Skills or Topics Covered} and advance your real-world application building skills with PsionicAlch.",
      "url": "https://www.psionicalch.com/profile/courses/course-slug-goes-here/chapter-slug-goes-here",
      "educationalLevel": "Intermediate",
      "inLanguage": "English",
      "courseMode": "Self-paced",
      "isAccessibleForFree": "false",
      "provider": {
        "@type": "Organization",
        "name": "PsionicAlch",
        "url": "https://www.psionicalch.com"
      },
      "mainEntity": {
        "@type": "Course",
        "name": "{Course Name}",
        "provider": {
          "@type": "Organization",
          "name": "PsionicAlch"
        }
      }
    }
  </script>
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/profile-course.css">
  <link rel="stylesheet" href="/assets/css/article.css">

  <link rel="stylesheet" href="/assets/css/atom-one-light.min.css">
{{ end }}

{{ define "head-scripts" }}
  <script src="/assets/js/alpine.min.js" defer></script>
  <script src="/assets/js/highlight.min.js" defer></script>
  <script src="/assets/js/apache.min.js" defer></script>
  <script src="/assets/js/bash.min.js" defer></script>
  <script src="/assets/js/css.min.js" defer></script>
  <script src="/assets/js/dockerfile.min.js" defer></script>
  <script src="/assets/js/go.min.js" defer></script>
  <script src="/assets/js/http.min.js" defer></script>
  <script src="/assets/js/javascript.min.js" defer></script>
  <script src="/assets/js/json.min.js" defer></script>
  <script src="/assets/js/makefile.min.js" defer></script>
  <script src="/assets/js/markdown.min.js" defer></script>
  <script src="/assets/js/nginx.min.js" defer></script>
  <script src="/assets/js/shell.min.js" defer></script>
  <script src="/assets/js/sql.min.js" defer></script>
  <script src="/assets/js/yaml.min.js" defer></script>
{{ end }}

{{ define "title" }}
  <title>{Course Name} - Chapter {Chapter Number}: {Chapter Title} | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main
    x-data="{ courseMenuOpen: false }"
    class="course"
  >
    <button
      class="chapters-btn"
      x-on:click="courseMenuOpen = true"
    >
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
        </svg>
      </span>
    </button>

    <section class="course-container">
      <div class="course-content article-content">
        <h1 id="main-title">Chapter 1: Introduction. Let's see how long I can make this title so that I can stress test it to make sure that abnormally long titles aren't an issue!</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat ante ut sodales venenatis. Donec non aliquam ligula, sit amet sollicitudin ligula. Mauris ornare neque consequat, viverra quam non, fermentum leo. Nullam feugiat ullamcorper ipsum, vel dapibus elit porttitor eget. Cras rutrum, lacus at laoreet convallis, erat libero gravida ex, id accumsan augue magna id nunc. Proin semper elit eu arcu elementum, non aliquet massa scelerisque. Duis porta commodo dapibus. Nulla vestibulum tristique blandit. Suspendisse pulvinar tortor purus, sit amet varius urna vehicula sit amet. Aenean congue mi mi, a blandit lectus maximus efficitur. Nunc quis metus lorem. Morbi et diam in elit laoreet bibendum. Morbi ultrices ligula at massa accumsan, a congue enim ullamcorper. Phasellus sit amet ultricies dolor.</p>

        <p><img src="/assets/img/golang-course-platform-image.png" alt="Alt text for image" title="a title for the image"></p>

        <h2 id="secondary-title">Secondary Title</h2>

        <p>Quisque eget magna sapien. Quisque a nulla at risus convallis dapibus ac pretium eros. Nullam ultrices suscipit orci, non ultrices risus faucibus non. Nullam vulputate laoreet metus, ut consequat urna volutpat ac. Cras dictum dignissim augue in tempus. Duis augue sapien, tincidunt id lectus a, tincidunt sagittis purus. Sed pellentesque elementum ante, non laoreet quam elementum sit amet. Aliquam dictum velit dictum, varius neque bibendum, mattis mi. Cras in dictum purus.</p>

        <h2 id="secondary-title-1">Secondary Title</h2>

        <p>Sed ac orci elementum, hendrerit massa non, placerat ligula. Quisque ac lacus mi. Cras nec mi in massa tempus placerat. Nullam gravida justo in diam vehicula, at facilisis ex auctor. Sed sodales sodales feugiat. Quisque eleifend vulputate felis nec tincidunt. Quisque ac pellentesque purus. Nunc ac sodales erat. Etiam venenatis malesuada purus, quis lobortis mauris maximus eu. Fusce elementum, leo in mattis porttitor, erat mauris dignissim odio, at luctus sapien velit quis elit. Quisque sollicitudin dignissim sapien, vitae ultricies neque. Nunc bibendum ut odio ut sagittis. Cras pellentesque felis eu interdum sodales. Curabitur sit amet mi in nisi dapibus tincidunt.</p>

        <p>This is what a code block would look like:</p>

        <pre><code class="language-golang">
          package website

          import (
            "fmt"
            "net/http"

            "github.com/PsionicAlch/psionicalch-home/internal/config"
            "github.com/PsionicAlch/psionicalch-home/internal/database/sqlite_database"
            "github.com/PsionicAlch/psionicalch-home/internal/render/renderers/vanilla"
            scssession "github.com/PsionicAlch/psionicalch-home/internal/session/scs_session"
            "github.com/PsionicAlch/psionicalch-home/internal/utils"
            "github.com/PsionicAlch/psionicalch-home/pkg/gatekeeper"
            "github.com/PsionicAlch/psionicalch-home/website/assets"
            "github.com/PsionicAlch/psionicalch-home/website/html"
            "github.com/PsionicAlch/psionicalch-home/website/pages/accounts"
            "github.com/PsionicAlch/psionicalch-home/website/pages/courses"
            "github.com/PsionicAlch/psionicalch-home/website/pages/general"
            "github.com/PsionicAlch/psionicalch-home/website/pages/profile"
            "github.com/PsionicAlch/psionicalch-home/website/pages/tutorials"
            "github.com/go-chi/chi/v5"
            "github.com/go-chi/chi/v5/middleware"
          )

          func StartWebsite() {
            // Set up loggers for main.
            loggers := utils.CreateLoggers("WEBSITE")

            // Set up project config.
            err := config.SetupConfig()
            if err != nil {
              loggers.ErrorLog.Fatalln(err)
            }

            // Set up database.
            db, err := sqlite_database.CreateSQLiteDatabase("/db/db.sqlite", "/db/migrations")
            if err != nil {
              loggers.ErrorLog.Fatalln(err)
            }
            defer db.Close()

            // Set up session.
            session := scssession.NewSession()

            // Set up renderers.
            pagesRenderer, err := vanilla.SetupVanillaRenderer(html.HTMLFiles, "pages", "layouts/*.layout.tmpl", "components/*.component.tmpl")
            if err != nil {
              loggers.ErrorLog.Fatalln("Failed to set up pages renderer: ", err)
            }

            htmxRenderer, err := vanilla.SetupVanillaRenderer(html.HTMLFiles, "htmx", "components/*.component.tmpl")
            if err != nil {
              loggers.ErrorLog.Fatalln("Failed to set up htmx renderer: ", err)
            }

            // Set up Gatekeeper.
            authCookieName := config.GetWithoutError[string]("AUTH_COOKIE_NAME")
            websiteDomain := config.GetWithoutError[string]("DOMAIN_NAME")
            authLifetime := config.GetWithoutError[int]("AUTH_TOKEN_LIFETIME")
            currentGatekeeperKey := config.GetWithoutError[string]("GATEKEEPER_CURRENT_KEY")
            prevGatekeeperKey := config.GetWithoutError[string]("GATEKEEPER_PREVIOUS_KEY")

            auth, err := gatekeeper.NewGatekeeper(authCookieName, websiteDomain, authLifetime, currentGatekeeperKey, prevGatekeeperKey, db)
            if err != nil {
              loggers.ErrorLog.Fatalln("Failed to set up authentication: ", err)
            }

            // Set up handlers.
            generalHandlers := general.SetupHandlers(pagesRenderer, auth, db)
            accountHandlers := accounts.SetupHandlers(pagesRenderer, htmxRenderer, session, auth)
            tutorialHandlers := tutorials.SetupHandlers(pagesRenderer, auth, db)
            courseHandlers := courses.SetupHandlers(pagesRenderer)
            profileHandlers := profile.SetupHandlers(pagesRenderer, auth, db)

            // Create new router.
            router := chi.NewRouter()

            // Set up middleware.
            router.Use(middleware.RealIP)
            router.Use(session.LoadSession)
            router.Use(middleware.Logger)
            router.Use(middleware.Recoverer)

            // Set up 404 handler.
            router.NotFound(func(w http.ResponseWriter, r *http.Request) {
              pagesRenderer.RenderHTML(w, "404.page.tmpl", nil, http.StatusNotFound)
            })

            // Set up asset routes.
            router.Mount("/assets", http.StripPrefix("/assets", http.FileServerFS(assets.AssetFiles)))

            // Set up routes.
            router.Mount("/", general.RegisterRoutes(generalHandlers))
            router.Mount("/accounts", accounts.RegisterRoutes(accountHandlers))
            router.Mount("/profile", profile.RegisterRoutes(profileHandlers))
            router.Mount("/tutorials", tutorials.RegisterRoutes(tutorialHandlers))
            router.Mount("/courses", courses.RegisterRoutes(courseHandlers))

            // Start server.
            port := config.GetWithoutError[string]("PORT")
            loggers.InfoLog.Println("Starting server on port:", port)
            loggers.ErrorLog.Fatal(http.ListenAndServe(fmt.Sprintf(":%s", port), router))
          }
        </code></pre>

        <h3 id="tersary-title">Tersary Title</h3>

        <p>Ut nec viverra lorem. Sed venenatis erat sit amet nisl finibus suscipit at non elit. Nullam vitae ultrices libero. Duis non semper felis. Sed sapien lacus, ullamcorper interdum fermentum ac, consectetur ac felis. Suspendisse ultrices fringilla feugiat. Etiam feugiat vel mi ut efficitur. Sed nisl nulla, pellentesque non dolor non, facilisis accumsan libero. Aliquam porta augue lacus, sit amet porttitor risus tristique tristique. Fusce et pellentesque risus, at aliquam mi. Nam convallis fringilla ligula ac volutpat. Duis ligula magna, ornare ut suscipit ut, dictum non turpis. Fusce dictum urna vel lorem tincidunt, id tempor felis sagittis. Praesent interdum viverra arcu, vitae fringilla est mattis ut. Nunc lobortis ullamcorper elit, quis tincidunt lacus. Quisque ac risus mauris.</p>

        <p>Here is an ordered list of outputs:</p>

        <ol>
          <li>This is item 1.</li>
          <li>This is item 2.</li>
          <li>This is item 3.</li>
          <li>This is item 4.</li>
          <li>This is item 5.</li>
          <li>This is item 6.</li>
        </ol>

        <p>Here is an unordered list:</p>

        <ul>
          <li>This is item 1.</li>
          <li>This is item 2.</li>
          <li>This is item 3.</li>
          <li>This is item 4.</li>
          <li>This is item 5.</li>
          <li>This is item 6.</li>
        </ul>

        <h3 id="tersary-title-1">Tersary Title</h3>

        <p>Fusce vehicula justo vitae lectus porttitor porttitor. Aenean id augue eu lacus laoreet mollis. Pellentesque porta nunc at libero aliquet pharetra. Mauris nec ipsum a sapien faucibus commodo. Nulla vel vehicula diam. Proin elementum dolor at sapien dapibus, id molestie enim rutrum. Nunc semper ligula lorem, in luctus justo efficitur sit amet. Morbi purus neque, volutpat quis efficitur sed, pretium et turpis. Aenean vehicula viverra viverra. Phasellus nec interdum risus. In efficitur, mi a aliquet faucibus, est arcu convallis turpis, id tincidunt mauris purus at arcu. Pellentesque nisi velit, dictum et turpis sed, blandit fermentum ante. Pellentesque vestibulum sapien vitae diam lacinia, nec dignissim dolor gravida. Maecenas fermentum sed mauris sit amet placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <h3 id="tersary-title-2">Tersary Title</h3>

        <p>Pellentesque vitae tellus elit. Nunc faucibus tincidunt ante sit amet porta. Vestibulum imperdiet mauris pretium arcu tincidunt, eu rhoncus lectus condimentum. Nulla bibendum porta augue, vel facilisis ipsum sodales id. Phasellus interdum commodo nisl sed elementum. Nullam in rutrum ex, at euismod sapien. Aliquam ullamcorper dolor a enim sagittis, quis varius ipsum sodales. Nullam vel tincidunt lectus, eget placerat felis. Sed ac quam mi. Vestibulum et tortor id ante viverra feugiat. In mollis venenatis massa eget vehicula. Nam pretium risus elit, eu porttitor sapien tempor ut.</p>

        <a href="/profile/courses/course-slug-goes-here/next-chapter-slug-goes-here" class="btn btn-blue shadow-sm next-chapter-btn">Next Chapter</a>
      </div>
    </section>

    <section class="course-menu" x-bind:class="{ 'visible': courseMenuOpen, 'hidden': !courseMenuOpen }" style="display: none;">
      <div class="course-menu-header">
        <h2>Chapters</h2>

        <button x-on:click="courseMenuOpen = false">
          <span>&#10005;</span>
        </button>
      </div>

      <hr>

      <div class="course-menu-body">
        <div class="course-section">
          <div class="completed">
            <span>&#10004;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="completed">
            <span>&#10004;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="completed">
            <span>&#10004;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>

        <div class="course-section">
          <div class="incomplete">
            <span>&#x268A;</span>
          </div>

          <p><a href="/profile/courses/course-slug-goes-here/chapter-slug-goes-here">Title of the section in the tutorial. I am going to make this a little longer so that I can test whether or not the designs allow for it</a></h2>
        </div>
      </div>
    </section>
  </main>
{{ end }}
