{{ template "base" .}}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="{{ assets "/css/profile.css" }}">
{{ end }}

{{ define "title" }}
  <title>Your Profile | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="profile">
    <div class="container">
      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>Affiliate Program</h2>

            {{ if .HasAffiliateHistory }}
              <a href="/profile/affiliate-history" class="btn btn-blue shadow-sm">View History</a>
            {{ else }}
              <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">View History</a>
            {{ end }}
          </div>

          <div class="profile-section-body">
            <p>Available Affiliate Points: <b>{{- .User.AffiliatePoints -}}</b></p>
            <p>Affiliate Link Code: <b>{{- .User.AffiliateCode -}}</b></p>
          </div>

          <div class="profile-section-mobile">
            {{ if .HasAffiliateHistory }}
              <a href="/profile/affiliate-history" class="btn btn-blue shadow-sm">View History</a>
            {{ else }}
              <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">View History</a>
            {{ end }}
          </div>
        </div>
      </section>

      <hr>

      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>My Courses</h2>

            <div class="actions">
              {{ if .HasMoreCourses }}
                <a href="/profile/courses" class="btn btn-blue shadow-sm">More</a>
              {{ else }}
                <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">More</a>
              {{ end }}
            </div>
          </div>

          <div class="profile-section-body">
            {{ if .Courses }}
              <div class="cards-list">
                {{ range .Courses }}
                  <div class="card shadow-sm" style="background-image: url('{{- .ThumbnailURL -}}');">
                    <div class="card-body">
                      <h2>{{- .Title -}}</h2>
                      <p>{{- .Description -}}</p>
                      <a href="/profile/courses/{{- .Slug -}}" class="btn-blue shadow-sm"><small>Start Course</small></a>
                    </div>
                  </div>
                {{ end }}
              </div>
            {{ else }}
              <p>You haven't bought any courses yet.</p>
            {{ end }}
          </div>

          <div class="profile-section-mobile">
            <div class="actions">
              {{ if .HasMoreCourses }}
                <a href="/profile/courses" class="btn btn-blue shadow-sm">More</a>
              {{ else }}
                <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">More</a>
              {{ end }}
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>My Bookmarked Tutorials</h2>

            <div class="actions">
              {{ if .HasMoreTutorialsBookmarked }}
                <a href="/profile/tutorials/bookmarks" class="btn btn-blue shadow-sm">More</a>
              {{ else }}
                <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">More</a>
              {{ end }}
            </div>
          </div>

          <div class="profile-section-body">
            {{ if .TutorialsBookmarked }}
              <div class="cards-list">
                {{ range .TutorialsBookmarked }}
                  <div class="card shadow-sm" style="background-image: url('{{- .ThumbnailURL -}}');">
                    <div class="card-body">
                      <h2>{{- .Title -}}</h2>
                      <p>{{- .Description -}}</p>
                      <a href="/tutorials/{{- .Slug -}}" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                    </div>
                  </div>
                {{ end }}
              </div>
            {{ else }}
              <p>You haven't bookmarked any tutorials yet.</p>
            {{ end }}
          </div>

          <div class="profile-section-mobile">
            <div class="actions">
              {{ if .HasMoreTutorialsBookmarked }}
                <a href="/profile/tutorials/bookmarks" class="btn btn-blue shadow-sm">More</a>
              {{ else }}
                <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">More</a>
              {{ end }}
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section class="profile-section">
        <div class="profile-section-container">
          <div class="profile-section-header">
            <h2>My Liked Tutorials</h2>

            <div class="actions">
              {{ if .HasMoreTutorialsLiked }}
                <a href="/profile/tutorials/likes" class="btn btn-blue shadow-sm">More</a>
              {{ else }}
                <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">More</a>
              {{ end }}
            </div>
          </div>

          <div class="profile-section-body">
            {{ if .TutorialsLiked }}
              <div class="cards-list">
                {{ range .TutorialsLiked }}
                  <div class="card shadow-sm" style="background-image: url('{{- .ThumbnailURL -}}');">
                    <div class="card-body">
                      <h2>{{- .Title -}}</h2>
                      <p>{{- .Description -}}</p>
                      <a href="/tutorials/{{- .Slug -}}" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
                    </div>
                  </div>
                {{ end }}
              </div>
            {{ else }}
              <p>You haven't liked any tutorials yet.</p>
            {{ end }}
          </div>

          <div class="profile-section-mobile">
            <div class="actions">
              {{ if .HasMoreTutorialsLiked }}
                <a href="/profile/tutorials/likes" class="btn btn-blue shadow-sm">More</a>
              {{ else }}
                <a href="javascript:void(0);" class="btn btn-blue shadow-sm link-disabled">More</a>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
{{ end }}
