{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/article.css">
  <link rel="stylesheet" href="/assets/css/profile-course.css">
  <link rel="stylesheet" href="/assets/css/atom-one-light.min.css">
{{ end }}

{{ define "head-scripts" }}
  <script src="/assets/js/highlight.min.js" defer></script>
  <script src="/assets/js/apache.min.js" defer></script>
  <script src="/assets/js/bash.min.js" defer></script>
  <script src="/assets/js/css.min.js" defer></script>
  <script src="/assets/js/dockerfile.min.js" defer></script>
  <script src="/assets/js/go.min.js" defer></script>
  <script src="/assets/js/http.min.js" defer></script>
  <script src="/assets/js/javascript.min.js" defer></script>
  <script src="/assets/js/json.min.js" defer></script>
  <script src="/assets/js/makefile.min.js" defer></script>
  <script src="/assets/js/markdown.min.js" defer></script>
  <script src="/assets/js/nginx.min.js" defer></script>
  <script src="/assets/js/shell.min.js" defer></script>
  <script src="/assets/js/sql.min.js" defer></script>
  <script src="/assets/js/yaml.min.js" defer></script>
{{ end }}

{{ define "title" }}
  <title>{{- .Course.Title }} - Chapter {{ .Chapter.Chapter }}: {{ .Chapter.Title }} | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main
    x-data="{ courseMenuOpen: false }"
    class="course"
  >
    <button
      class="chapters-btn"
      x-on:click="courseMenuOpen = true"
      x-ref="toggleButton"
    >
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
        </svg>
      </span>
    </button>

    <section class="course-container">
      <div class="course-content article-content">
        <h1 id="main-title">Chapter {{ .Chapter.Chapter }}: {{ .Chapter.Title }}</h1>

        {{ html .Chapter.Content }}

        <button hx-post="/profile/courses/{{- .Course.Slug -}}/{{- .Chapter.Slug -}}/finish" id="next-chapter-btn" class="btn btn-blue shadow-sm next-chapter-btn">{{- if .LastChapter -}}Finish Course{{- else -}}Next Chapter{{- end -}}</button>
      </div>
    </section>

    <section
      class="course-menu"
      x-bind:class="{ 'visible': courseMenuOpen, 'hidden': !courseMenuOpen }"
      x-on:click.outside="
        if (!$refs.toggleButton.contains($event.target)) {
          courseMenuOpen = false;
        }
      "
      style="display: none;"
    >
      <div class="course-menu-header">
        <h2>Chapters</h2>

        <button x-on:click="courseMenuOpen = false">
          <span>&#10005;</span>
        </button>
      </div>

      <hr>

      <div class="course-menu-body">
        {{ range .Chapters }}
          {{ if index $.Completed .ID }}
            <div class="course-section">
              <div class="completed">
                <span>&#10004;</span>
              </div>

              <p><a href="/profile/courses/{{ $.Course.Slug }}/{{- .Slug -}}">Chapter {{ .Chapter }}: {{ .Title }}</a></h2>
            </div>
          {{ else }}
            <div class="course-section">
              <div class="incomplete">
                <span>&#x268A;</span>
              </div>

              <p><a href="/profile/courses/{{- $.Course.Slug -}}/{{- .Slug -}}">Chapter {{ .Chapter }}: {{ .Title }}</a></h2>
            </div>
          {{ end }}
        {{ end }}

        {{ if .HasCompletedCourse }}
          <div class="course-section">
            <div class="completed">
              <span>&#10004;</span>
            </div>

            <p><a href="/profile/courses/{{ $.Course.Slug }}/certificate" hx-swap="none">Certificate of Completion</a></h2>
          </div>
        {{ end }}
      </div>
    </section>
  </main>
{{ end }}

{{ define "javascript" }}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      hljs.highlightAll();
    });
  </script>
{{ end }}
