{{ template "base" . }}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/tutorials.css">
{{ end }}

{{ define "title" }}
  <title>Your Bookmarked Tutorials | PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="tutorials">
    <div class="container">
      <form method="get" action="/">
        <input class="shadow-sm" type="text" name="search" placeholder="What tutorial are you looking for?">
      </form>

      <hr>

      <div class="tutorials-container">
        <h2>My Saved Tutorials</h2>

        <div class="cards-list">
          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>

          <div class="card shadow-sm" style="background-image: url('/assets/img/golang-course-platform-image.png');">
            <div class="card-body">
              <h2>Tutorial Name</h2>
              <p>This is a short tutorial description to see what would be too many words. I'd like to know so that I can plan around how many characters are too many? Is this too many yet?</p>
              <a href="/tutorials/tutorial-slug-goes-here" class="btn btn-blue shadow-sm"><small>Read Tutorial</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}
