{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Set up banner images -->
  <meta name="description" content="Understand PsionicAlch's refund policy for our Golang courses. We offer a 30-day money-back guarantee for customer satisfaction.">
  <meta name="keywords" content="PsionicAlch refund policy, Golang course refund, money-back guarantee, 30-day refund policy, course refund policy">

  <meta property="og:title" content="Refund Policy - PsionicAlch">
  <meta property="og:description" content="Learn about PsionicAlch's refund policy. We offer a 30-day money-back guarantee on all courses for your peace of mind.">
  <meta property="og:image" content="https://www.psionicalch.com/path-to-refund-banner.jpg">
  <meta property="og:url" content="https://www.psionicalch.com/refund-policy">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="PsionicAlch">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Refund Policy - PsionicAlch">
  <meta name="twitter:description" content="PsionicAlch's refund policy guarantees a 30-day money-back offer on all courses for customer satisfaction.">
  <meta name="twitter:image" content="https://www.psionicalch.com/path-to-refund-banner.jpg">
  <meta name="twitter:site" content="@psionicalch">
  <meta name="twitter:creator" content="@psionicalch">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Refund Policy",
      "description": "Understand PsionicAlch's refund policy for our Golang courses. We offer a 30-day money-back guarantee for customer satisfaction.",
      "url": "https://www.psionicalch.com/privacy-policy"
    }
  </script>
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/refund-policy.css">
{{ end }}

{{ define "title" }}
  <title>Refund Policy - PsionicAlch</title>
{{ end }}

{{ define "body" }}

{{ end }}
