{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Generate SEO Tags with ChatGPT. -->
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/settings.css">
{{ end }}

{{ define "title" }}
  <title>Settings - PsionicAlch</title>
{{ end }}

{{ define "body" }}
  <main class="settings">
    <div class="container">
      <section class="settings-container">
        <h2>Change My First Name</h2>

        <form>
          <div class="form-control">
            <label for="first-name">New First Name:</label>
            <input type="first-name" name="first-name" id="first-name" autocomplete="off">
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Change First Name</button>
        </form>
      </section>

      <hr>

      <section class="settings-container">
        <h2>Change My Last Name</h2>

        <form>
          <div class="form-control">
            <label for="last-name">New Last Name:</label>
            <input type="last-name" name="last-name" id="last-name" autocomplete="off">
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Change Last Name</button>
        </form>
      </section>

      <hr>

      <section class="settings-container">
        <h2>Change My Email Address</h2>

        <form>
          <div class="form-control">
            <label for="email">New Email Address:</label>
            <input type="email" name="email" id="email" autocomplete="off">
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Change Email Address</button>
        </form>
      </section>

      <hr>

      <section class="settings-container">
        <h2>Change My Password</h2>

        <form>
          <div class="form-control">
            <label for="old-password">Old Password:</label>
            <input type="password" name="old-password" id="old-password" autocomplete="off">
          </div>

          <div class="form-control">
            <label for="new-password">New Password:</label>
            <input type="password" name="new-password" id="new-password" autocomplete="off">
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Change Password</button>
        </form>
      </section>

      <hr>

      <section class="settings-container" x-data="usercourses">
        <h2>Request Refund</h2>

        <p>Once a refund request has been successfully processed you will no longer have access to that specific course. Only courses that you have bought less than 30 days ago and have yet to complete are viable for a refund. Any refund requests for a course that doesn't meet these criteria will be denied. Please see our <a href="/refund-policy.html" class="emphasis">Refund Policy</a> for more information.</p>

        <select name="courses" id="courses" x-model="courseID" x-effect="setCourseName(courseID)" class="shadow-sm">
          <option value="" disabled>Select a course</option>

          <template x-for="(value, key) in courses">
            <option x-bind:value="key" x-text="value"></option>
          </template>
        </select>

        <button class="btn btn-blue shadow-sm" x-on:click="modalOpen = true" x-bind:disabled="!courseID && !courseName">Request Refund</button>

        <template x-teleport="body">
          <section
            class="delete-modal"
            x-bind:class="{ 'closed': !modalOpen, 'open': modalOpen }"
          >
            <div class="modal-container">
              <h2>Are you sure you want to request a refund for this course?</h2>

              <p>Your are about to request a refund for <b x-text="courseName"></b>. Once this refund has been successfully processed you will no longer have access to this course and you will lose all of your progress related to this course. Are you sure you want to do this?</p>

              <hr>

              <div class="modal-actions">
                <button x-on:click="modalOpen = false" class="btn btn-gray shadow-sm">Cancel</button>

                <form>
                  <input type="hidden" name="course-id" x-bind:value="courseID">
                  <button type="submit" x-on:click="modalOpen = false" class="btn btn-red shadow-sm">Request Refund</button>
                </form>
              </div>
            </div>
          </section>
        </template>
      </section>

      <hr>

      <section
        x-data="{ modalOpen: false }"
        class="settings-container danger"
      >
        <h2>Delete My Account</h2>

        <p>Once you delete your account there is no going back. We will delete all your user data so you won't have access to any of the courses you bought.</p>

        <button class="btn btn-red shadow-sm" x-on:click="modalOpen = true">Delete Account</button>

        <template x-teleport="body">
          <section
            class="delete-modal"
            x-bind:class="{ 'closed': !modalOpen, 'open': modalOpen }"
          >
            <div class="modal-container">
              <h2>Are you sure you want to delete your account?</h2>

              <p>Your account is about to be permanently deleted. There is no going back after this. We will delete all of your user data so you will no longer have any access to the courses you have purchased. You will not be entitled to a refund on any of the courses you have purchased.</p>

              <hr>

              <div class="modal-actions">
                <button x-on:click="modalOpen = false" class="btn btn-gray shadow-sm">Cancel</button>

                <form>
                  <button type="submit" x-on:click="modalOpen = false" class="btn btn-red shadow-sm">Delete My Account</button>
                </form>
              </div>
            </div>
          </section>
        </template>
      </section>
    </div>
  </main>
{{ end }}

{{ define "javascript" }}
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data('usercourses', () => ({
        courses: {
          "01JBC9HM3C160KYY6WE7KM8T20": "How to create a course platform with Golang, HTMX, AlpineJS, and Bootstrap 5",
          "01JBC9HM3C4VC85G492M117GDR": "How to create a video sharing platform (like YouTube) with Golang, HTMX, AlpineJS, and Bootstrap 5",
          "01JBC9HM3C9EXH42HDYFQJ95N4": "How to create your first AI startup with Golang, HTMX, AlpineJS, and Bootstrap 5",
          "01JBC9HM3CCEYM21SX60KDFBJ6": "How to create a job board with Golang, HTMX, AlpineJS, and Bootstrap 5",
          "01JBC9HM3CD0H6RJ9MYR57P7EQ": "How to create an AI powered audio book service with Golang, HTMX, AlpineJS, and Bootstrap 5",
        },
        courseID: "",
        courseName: "",
        modalOpen: false,

        setCourseName(id) {
          if (id && id in this.courses) {
            this.courseName = this.courses[id];
          }

          console.log(this.courseID, " : ", this.courseName);
        }
      }));
    });
  </script>
{{ end }}
