{{ template "base" .}}

{{ define "meta-tags" }}
  <!-- TODO: Set up banner images -->
  <meta name="description" content="Sign up for a PsionicAlch account to access Golang courses that focus on building real-world applications. Take your skills to the next level.">
  <meta name="keywords" content="PsionicAlch signup, Golang course signup, create account, sign up for Golang courses, PsionicAlch account creation">
  <meta name="robots" content="noindex, follow">

  <meta property="og:title" content="Create a PsionicAlch Account - Start Learning Golang">
  <meta property="og:description" content="Join PsionicAlch to access Golang courses and start building real-world applications. Sign up now and take your Golang skills further.">
  <meta property="og:image" content="https://www.psionicalch.com/path-to-signup-banner.jpg">
  <meta property="og:url" content="https://www.psionicalch.com/accounts/signup">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="PsionicAlch">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Create a PsionicAlch Account - Start Learning Golang">
  <meta name="twitter:description" content="Sign up for PsionicAlch and start building real-world Golang applications. Take your skills to the next level.">
  <meta name="twitter:image" content="https://www.psionicalch.com/path-to-signup-banner.jpg">
  <meta name="twitter:site" content="@YourTwitterHandle">
  <meta name="twitter:creator" content="@YourTwitterHandle">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Signup Page",
      "description": "Create an account with PsionicAlch to access practical Golang courses that emphasize real-world applications.",
      "url": "https://www.psionicalch.com/accounts/signup"
    }
  </script>
{{ end }}

{{ define "stylesheets" }}
  <link rel="stylesheet" href="/assets/css/authentication.css">
{{ end }}

{{ define "title" }}
  <title>Create a PsionicAlch Account - Start Learning Golang</title>
{{ end }}

{{ define "body" }}
  <main class="authentication">
    <div class="container">
      <section class="authentication-container shadow">
        <h2>Sign Up</h2>

        <!-- TODO: Set up the form to work correctly -->
        <form x-data="auth">
          <div class="form-control">
            <label for="name">First Name:</label>
            <input type="text" name="name" id="name" class="shadow-sm">
          </div>

          <div class="form-control">
            <label for="surname">Last Name:</label>
            <input type="text" name="surname" id="Surname" class="shadow-sm">
          </div>

          <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="shadow-sm">
          </div>

          <div class="form-control">
            <label for="password">Password:</label>

            <div class="password-control">
              <input x-bind:type="inputType" name="password" id="password">

              <div class="visibility-control" x-on:click="togglePassword">
                <template x-if="passwordVisible">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                  </svg>
                </template>

                <template x-if="!passwordVisible">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" />
                    <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" />
                    <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" />
                  </svg>
                </template>
              </div>
            </div>
          </div>

          <div class="form-control">
            <label for="confirm-password">Confirm Password:</label>

            <div class="password-control">
              <input x-bind:type="confirmInputType" name="confirm-password" id="confirm-password">

              <div class="visibility-control" x-on:click="toggleConfirmPassword">
                <template x-if="confirmPasswordVisible">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                  </svg>
                </template>

                <template x-if="!confirmPasswordVisible">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" />
                    <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" />
                    <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" />
                  </svg>
                </template>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-blue shadow-sm">Sign Up</button>
        </form>

        <hr>

        <div class="links">
          <a href="/accounts/login">Already have an account?</a>
        </div>
      </section>
    </div>
  </main>
{{ end }}

{{ define "javascript" }}
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data('auth', () => ({
        passwordVisible: false,
        inputType: 'password',
        confirmPasswordVisible: false,
        confirmInputType: 'password',

        togglePassword() {
          this.passwordVisible = !this.passwordVisible;

          this.inputType = this.passwordVisible ? 'text' : 'password';
        },

        toggleConfirmPassword() {
          this.confirmPasswordVisible = !this.confirmPasswordVisible;

          this.confirmInputType = this.confirmPasswordVisible ? 'text' : 'password';
        }
      }));
    });
  </script>
{{ end }}
