{{ template "email" . }}

{{ define "content" }}
  <p>Hello {{ .FirstName -}},</p>

  <p>Welcome to PsionicAlch, your go-to place for unlocking the power of programming! We're thrilled to have you join our community and can't wait to see you grow and level up with our tutorials.</p>

  <p>To kick things off, we're giving you an exclusive discount code for your first course purchase:</p>

  <p><strong>Your discount code: {{ .Discount.Code -}}</strong></p>

  <p>Use this code at checkout to get <strong>{{- .Discount.Discount -}}% off</strong> your first course purchase. It's the perfect opportunity to dive into our tutorials and start your programming journey!</p>

  <p>Here's a glimpse of some of our latest tutorials to spark your curiosity:</p>

  {{ if .LatestCourses }}
    <ul>
      {{ range .LatestCourses }}
        <li><strong>{{- .Title -}}</strong>: {{ .Description }} <a href="https://www.psionicalch.com/courses/{{- .Slug -}}">Learn more</a></li>
      {{ end }}
    </ul>
  {{ end }}

  <p>Feeling inspired? Explore all our tutorials on <a href="https://www.psionicalch.com/courses">our Courses page</a>.</p>

  <p>Oh, and there's more! Did you know you also have your very own affiliate code?</p>

  <p><strong>Your affiliate code: {{ .AffiliateCode -}}</strong></p>

  <p>Every time someone purchases a course using your affiliate link, you'll earn affiliate points worth 10% of their purchase value. You can redeem these points for discounts on your own course purchases! Learn all about it on our <a href="https://www.psionicalch.com/affiliate-program">Affiliate Program page</a>.</p>

  <p>If you have any questions or need support, feel free to reach out to us:</p>
  <p>
    <a href="https://twitter.com/psionicalch">Twitter</a> |
    <a href="https://bsky.app/profile/psionicalch.com">Bluesky</a> |
    <a href="mailto:contact@psionicalch.com">Email</a>
  </p>

  <p>We're so excited to have you with us, {{.FirstName}}. Start exploring, learning, and coding with PsionicAlch!</p>

  <p>Happy learning,<br>The PsionicAlch Team</p>
{{ end }}
