{{ template "email" . }}

{{ define "content" }}
  <p>Hello {{.FirstName}},</p>

  <p>We noticed a login to your PsionicAlch account from a non-whitelisted IP address. As a part of our commitment to keeping your account safe, we're sending you these details to ensure everything looks good on your end:</p>

  <p><strong>Login Details:</strong></p>
  <ul>
    <li><strong>IP Address:</strong> {{.IPAddress}}</li>
    <li><strong>Date & Time:</strong> {{.LoginDateTime | pretty_date}}</li>
  </ul>

  <p>If this login was you then you can add this IP address to your profile's whitelist so that you won't be notified about this again:</p>

  <p><a href="https://www.psionicalch.com/settings/whitelist/{{.URLSafeIPAddress}}" class="cta-button">Whitelist IP Address</a></p>

  <p>However, if you don't recognize this login, it might be a good idea to secure your account right away. You can reset your password by following this link:</p>

  <p><a href="https://www.psionicalch.com/accounts/reset-password" class="cta-button">Reset Your Password</a></p>

  <p>If you have any questions or need assistance, you can always reach out to us:</p>
  <p>
    <a href="https://twitter.com/psionicalch">Twitter</a> |
    <a href="https://bsky.app/profile/psionicalch.com">Bluesky</a> |
    <a href="mailto:contact@psionicalch.com">Email</a>
  </p>

  <p>We're here to ensure your experience with PsionicAlch is as smooth and secure as possible.</p>

  <p>Happy learning,<br>The PsionicAlch Team</p>
{{ end }}
