{{ template "email" . }}

{{ define "content" }}
  <p>Hello {{.FirstName}},</p>

  <p>We're reaching out to let you know that your refund request for <strong>{{.CourseName}}</strong> has been canceled.</p>

  <p>If this cancellation was not intentional or if you have any questions, we're here to help. Please reach out to us through one of the following channels:</p>
  <p>
    <a href="https://twitter.com/psionicalch">Twitter</a> |
    <a href="https://bsky.app/profile/psionicalch.com">Bluesky</a> |
    <a href="mailto:contact@psionicalch.com">Email</a>
  </p>

  <p>We're committed to providing you with the best learning experience, and we'd love to hear your feedback on how we can improve. If there's anything we can do to assist, don't hesitate to contact us.</p>

  <p>Thank you for being a part of the PsionicAlch community, and we hope you continue to enjoy exploring and growing with our tutorials.</p>

  <p>Best regards,<br>The PsionicAlch Team</p>
{{ end }}
